$primary: "green";

@import 'ember-paper';
@import 'pod-styles'; // Imports all the styles from the 'pod' structures

#index *{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #1B2021;
}
#index a:hover{
  cursor: pointer;
  opacity: .8;
}
#index #logo{
  max-width: 200px;
  width: 80%;
  margin-top: 30px;
  margin-left: 30px;
}
.container{
  width: 100%;
  max-width: 1040px;
  margin: auto;
}
#index #tagline, #name-prompt{
  text-align: center;
  font-size: 2em;
  margin-top: 100px;
  color: #283044;
}
#index .button{
  max-width: 200px;
  padding-top: 15px;
  text-align: center;
  height: 45px;
  margin: auto;
  background-color: #00a63f;
  color: white;
  font-size: 1.3em;
  border-radius: 12px;
  font-weight: bold;
  margin-top: 50px;
  box-sizing: initial;
}
#index .button:hover, .hoverable:hover{
  opacity: .8;
  cursor: pointer;
  box-shadow: none;
}
#index .description{
  width: 30%;
  padding: 1.5%;
  float: left;
  text-align: center;
  background-color: #f7ebec;
  margin-top: 60px;
}
#index #moreInfo{
  color: #1B2021;
  height: 300px;
  background-color: #f7ebec;
  box-sizing: initial;
}
#index #moreInfo h1{
  font-size: 1.5em;
  margin: 10 0;
}
#index .icon{
  height: 50px;
}
#index .wide-icon{
  width: 80px;
  margin-top: -25px;
}
#index footer{
  margin-top: 20px;
  text-align: center;
  color: #1B2021;
}
#index footer p{
  margin-bottom: 20px;
}
#index .caption{
  color: #1B2021;
  opacity: .4;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
  font-size: .8em;
}
#index #name-prompt, .green_title{
  color: #00a63f;
  font-weight: bold;
  font-size: 2em;
  margin-top: 50px;
  text-align: center;
}
#index .question{
  text-align: center;
}
#index .question .input{
  width: 90%;
  padding: 0 5%;
  background-color: #f7ebec;
  margin-top: 20px;
}
#index .input_tall{
  height: 450px;
}
#index .question .input .prompt{
  padding-top: 30px;
  font-size: 1.5em;
}
#index .question .button{
  width: 150px;
  float: right;
  margin-top: 15px;
  margin-right: 3%;
}
#index #sign-out{
  text-align: right;
  margin-top: 10px;
  margin-right: 5px;
  font-size: .9em;
  opacity: .6;
}

#index .agreement_pic{
  margin-top: 20px;
  background-color: white;
  border: solid 1px lightgray;
  width: 30%;
  float: left;
  margin-left: 2%;
  height: 250px;
}
#index .agreement_pic:hover{
  cursor: pointer;
}
#index .agreement_pic:first-child{
  margin-left: 0;
}
#index .agreement_pic img{
  height: 100px;
  margin-top: 50px;
}
#index .agreement_pic .tall-icon{
  height: 130px;
  margin-top: 20px;
}
#index .agreement_pic p{
  margin-top: 20px;
  font-size: 1.1em;
}
#index .caption_text{
  margin-top: 10px;
  opacity: .8;
  text-align: center;
  margin-bottom: 20px;
}
#index .form_headers{
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 50px;
}
#index .go_button{
  background-color: #00a63f;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  color: white;
  text-align: center;
  border: none;
  float: right;
  font-size: 1.2em;
  box-shadow: none;
}
#index .go_button:hover{
  cursor: pointer;
  opacity: .8;
}

@media (max-width: 570px) {
  #index .description{
    width: 90%;
    padding: 0 5%;
  }
  #index footer p{
    margin-top: 260px;
  }
  #index #middle_desc{
    margin-bottom: -60px;
  }
}
.md-toolbar-tools{
  background-color: #1B2021;
}

#name{
  font-size: .8em;
  margin-left: 10px;
  color: white;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon  {
color: white;
}
.nav_option{
  opacity: .75;
  margin-left: 15px;
}

.nav_option .text{
  margin-left: 15px;
}

.nav_header{
  font-weight: bold;
  opacity: .7;
  font-size: 1em;
}

#nav_options md-content{
  padding-left: 30px;
}
#nav_options .selected{
  color: #1B2021;
  font-weight: bold;
}

#nav_options .selected .paper-icon{
  color: #1B2021;
}
#nav_options md-content:hover{
  background-color: rgba(1,1,1,.05);
  cursor: pointer;
}

#nav_options md-content:first-child:hover{
  background-color: white;
  cursor: default;
}

.button:hover{
  cursor: pointer;
  opacity: .8;
}

md-menu-item{
  height: 70px;
  padding: 0px 10px;
}

md-menu-item .paper-button:hover{
  cursor: default;
  background-color: white;
}

md-menu-item a:hover{
  text-decoration: underline;
  cursor: pointer;
}

md-sidenav a.md-button.md-default-theme.md-primary.md-raised, a.md-button.md-default-theme.md-primary.md-fab, a.md-button.md-primary.md-raised, a.md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-raised, .md-button.md-primary.md-fab{
  background-color: #00a63f;
  width: 80%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: white;
}

.green-background{
  background-color: #00a63f;
  height: 300px;
  width: 100%;
  z-index: 0;
}

.top{
  z-index: 2;
  width: 100%;
  text-align: center;
  margin-top: -300px;
}
.create-section{
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

.create-section h1 md-icon{
  margin-left: 30px;
  font-size: 1.1em;
  margin-right: 10px;
  color: rgba(1,1,1,.8);
  margin-top: -10px;
}
.create-section h1{
  padding-top: 10px;
}

.basic-inputs{
  text-align: left;
}

.create-section h1{
  width: 100%;
  display: block;
  opacity: .8;
  font-weight: 400;
  font-size: 1.8em;
}
.header_caption h1{
  color: white;
  font-weight: 400;
  font-size: 2.5em;
  margin-top: 40px;
}
.header_caption p{
  color: rgba(255,255,255,.98);
  margin-top: -15px;
  font-weight: 200;
}
#doc_type_selection{
  margin: auto;
}
#doc_type_selection md-icon{
  font-size: 7em;
  color: rgba(1,1,1,.4);
}
#doc_type_selection .doc_type_select{
  float: left;
  height: 200px;
  width: 200px;
  border: solid 1px rgba(1,1,1,.1);
  margin-right: 10px;
  text-align: center;
}
#doc_type_selection .doc_type_select p{
 margin-top: -30px;
  padding: 10px 0px;
  opacity: .7;
  font-size: 1.1em;
}
#doc_type_selection .select_option_img{
  height: 80px;
  width: 80px;
  margin: auto;
  opacity: .6;
  margin-top: 25px;
  margin-bottom: 60px;
}

#doc_type_selection .selected {
  border: solid 2px #00a63f;
}
#doc_type_selection .selected p{
  background-color: #00a63f;
  color: white;
  opacity: 1;
}
#doc_type_selection .selected img{
  opacity: 1;
}
#doc_type_selection .doc_type_select:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
  0 1px 18px 0 rgba(0, 0, 0, 0.12),
  0 3px 5px -1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.half{
  width: 49.5%;
  float: left;
}

.full{
  width: 100%;
}

.center{
  margin: auto;
}
.inputs{
  width: 95%;
}
.docs_headers{
  display: block;
  width: 100%;
  padding-top: 20px;
  margin-left: 30px;
  font-size: .8em;
  opacity: .8;
}
.is-selected p{
  background-color: #00a63f;
  color: white;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
  0 1px 18px 0 rgba(0, 0, 0, 0.12),
  0 3px 5px -1px rgba(0, 0, 0, 0.4);
}
.is-selected md-card{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
  0 1px 18px 0 rgba(0, 0, 0, 0.12),
  0 3px 5px -1px rgba(0, 0, 0, 0.4);
}
.is-selected md-icon{
  display: block;
}