& {
  display: inline-block;
  width: 190px;
  padding: 20px;
}

img{
  width: 180px;
  height: 150px;
}

img:hover{
  cursor: pointer;
}

p{
  font-size: .8em;
  text-align: center;
  padding: 10px 0px;
  opacity: .9;
  margin-top: 0px;
  width: 182px;
  margin: auto;
}
p:hover{
  cursor: pointer;
}

md-card{
  width:180px;
  height: 150px;
}

md-icon{
  display: none;
  color: rgba(1,1,1,.4);
  float: right;
}

.md-button{
  float: right;
  margin-top: 5px;
}

.snackbar p{
  text-align: left;
  float: left;
  width: 100%;
  margin-left: 20px;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  height: 50px;
  background-color: #1B2021;
  color: #fff;
  position: fixed;
  z-index: 1;
  left: 350px;
  bottom: 30px;
  font-size: 17px;
}