{{!--
Takes:
@param {document} doc
--}}
{{#paper-card class="create-section" as |card| }}
<img src="/assests/images/doc_preview.png">
{{/paper-card}}

{{doc.title}}
<p> Mutual Agreement between Francesca Bueti and NASA </p>