{{!--
Takes:
@param {document} doc
--}}
{{#paper-card class="create-section" as |card| }}
<img src="/assets/images/doc_preview.png">
{{/paper-card}}

<!--TODO: replace text with {{!--doc.title--}}-->
<p> Mutual Agreement between Francesca Bueti and NASA <br></p>
{{#paper-button iconButton=true}}{{paper-icon "send"}}{{/paper-button}}