{{!--
Takes:
@param {document} doc
--}}
<span class="doc_icon">
{{#paper-card class="create-section" as |card| }}
<img src="/assets/images/doc_preview.png">
{{/paper-card}}

<p> {{doc.title}} <br></p>
{{#paper-button iconButton=true onClick=(action "openPromptDialog")}}{{paper-icon "send"}}{{/paper-button}}
</span>

{{#if showPromptDialog}}
    {{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog" "cancel") origin=dialogOrigin}}

        {{#paper-dialog-content}}
            <h2 class="md-title">Would you like to send this document to yourself?</h2>
            <p>You'll receive an email with a word document attached.</p>
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row"}}
            <span class="flex"></span>
            {{#paper-button primary=true onClick=(action "closePromptDialog")}}Cancel{{/paper-button}}
            {{#paper-button primary=true onClick=(action "sendMail")}}Send{{/paper-button}}
        {{/paper-dialog-actions}}

    {{/paper-dialog}}
{{/if}}

{{#paper-card class="snackbar" as |card| }}
    <p> Document sent </p>
{{/paper-card}}