{{!--
Takes:
@param {string} icon
@param {string} text
--}}
{{#paper-content padding=true}}
    <span class="nav_option">
        {{paper-icon icon}}
        <span class="text">{{text}}</span>
    </span>
{{/paper-content}}
